

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul ngbNav #ModifierCustom="ngbNav" [activeId]="1" class="nav nav-pills nav-customs nav-danger">
            <li [ngbNavItem]="1">
                <a ngbNavLink class="nav-link">
                    Branch Information
                </a>
                <ng-template ngbNavContent>
                    <div class="card">
                        <div class="card-header">
                            <i class="ri-arrow-go-back-fill" style="cursor:pointer; margin-right: 10px;"
                                (click)="_location.back();"></i>
                            <span class="card-title mb-0 text-primary">{{label}}</span>
                        </div><!-- end card header -->
                        <div class="card-body">

                            <div class="row">
                                <div class="col-lg-6 border-right">
                                    <div class="row">
                                        <div class="col-lg-6" *ngIf="!edit">
                                            <div class="mb-3">
                                                <label class="form-label required">Search Branch</label>
                                                <ng-select  (change)="getBranch($event)">
                                                    <ng-container *ngFor="let item of branches;let i=index">
                                                        <ng-option *ngIf="!item.isRent" value="{{i}}">#{{item.code}} - {{item.name}}</ng-option>
                                                       </ng-container> 
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" *ngIf="!edit"></div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label required">Branch Code</label>
                                                <input  disabled=""type="text" [(ngModel)]="branchCode" [ngModelOptions]="{standalone: true}"  class="form-control"
                                                 placeholder="Enter Branch Code">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label required">Branch Name</label>
                                                <input disabled="" [(ngModel)]="branchName" [ngModelOptions]="{standalone: true}"  type="text" class="form-control"
                                                    placeholder="Enter Branch Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label required">Permises Type</label>
                                                <ng-select [(ngModel)]="premisesType" [ngModelOptions]="{standalone: true}">
                                                   <ng-option value="MFI Branch">MFI Branch</ng-option>
                                                   <ng-option value="Staff Accommodation">Staff Accommodation</ng-option>
                                                   <ng-option value="Divisional Off.">Divisional Off.</ng-option>
                                                   <ng-option value="Cluster office">Cluster office</ng-option>
                                                   <ng-option value="Regional Off.">Regional Off.</ng-option>
                                                   <ng-option value="MSME">MSME</ng-option>
                                                   <ng-option value="Corporate Off.">Corporate Off.</ng-option>
                                                   <ng-option value="Registered office">Registered office</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Property Type</label>
                                                <ng-select [(ngModel)]="propertyType" [ngModelOptions]="{standalone: true}">
                                                    <ng-option value="Commercial">Commercial</ng-option>
                                                    <ng-option value="Domestic">Domestic</ng-option>
                                                 </ng-select>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Security Deposit</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">₹</span>
                                                    <input [disabled]="action == 0" [(ngModel)]="securityDeposit" [ngModelOptions]="{standalone: true}" type="number" class="form-control"
                                                    placeholder="Enter Security Deposit">
                                                </div>
                                                
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Monthly Rent</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">₹</span>
                                                    <input [disabled]="action == 0" [(ngModel)]="monthlyRent" (keyup)="calculateMonthlyRent()" [ngModelOptions]="{standalone: true}"  type="number" class="form-control"
                                                        placeholder="Enter Monthly Rent">
                                                </div>
                                            </div>
                                        </div>



                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Agreement Term</label>
                                                <div class="input-group">
                                                    <input [disabled]="action == 0" mask="00-00"  [(ngModel)]="agreementTerm" [ngModelOptions]="{standalone: true}"  type="text" class="form-control"
                                                    placeholder="YY-MM">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Lock In Period</label>
                                                <input [disabled]="action == 0" [(ngModel)]="lockinperiod" [ngModelOptions]="{standalone: true}"  type="number" class="form-control"
                                                    placeholder="Enter Lock in Period">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Maintenance Amount</label>
                                                <input [disabled]="action == 0" [(ngModel)]="maintenanceAmount" (keyup)="calculateMonthlyRent()" [ngModelOptions]="{standalone: true}"  type="number" class="form-control"
                                                    placeholder="Enter Lock in Period">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Total Monthly Rent</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">₹</span>
                                                    <input  type="number" class="form-control" disabled
                                                        placeholder="Enter Monthly Rent" [value]="totalMonthlyRent">
                                                </div>
                                            </div>
                                        </div>

                                        

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Annual Increment Term</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">%</span>
                                                    <input [disabled]="action == 0" [(ngModel)]="annualIncrementTerm" [ngModelOptions]="{standalone: true}" type="number" class="form-control"
                                                    placeholder="Enter Increment Term">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Notice Period</label>
                                                <input [disabled]="action == 0" type="number" [(ngModel)]="noticePeriod" [ngModelOptions]="{standalone: true}" class="form-control"
                                                    placeholder="Enter Notice Period">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Area Sq.Ft</label>
                                                <input [disabled]="action == 0" type="number" [(ngModel)]="areasqfeet" [ngModelOptions]="{standalone: true}" class="form-control"
                                                    placeholder="Enter Area Sq.Ft">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Furnished/Un-Furnished</label>
                                                <ng-select [(ngModel)]="isfurnished" [ngModelOptions]="{standalone: true}">
                                                    <ng-option value="Furnished">Furnished</ng-option>
                                                    <ng-option value="Unfurnished">Unfurnished</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Rent Start Date</label>
                                                    <input [disabled]="action == 0" type="date" class="form-control"
                                                    placeholder="Enter Allowed Consumption" [(ngModel)]="rentStartDate" [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Rent Cycle</label>
                                                    <input [disabled]="action == 0" type="number" class="form-control"
                                                    placeholder="Enter Rent Cycle" [(ngModel)]="rentCycle" [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label class="form-label">Property Details</label>
                                                <br>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" [checked]="room" (change)="changeRoomProperty($event)" type="checkbox" id="inlineCheckbox1"
                                                        value="option1">
                                                    <label class="form-check-label" for="inlineCheckbox1">Room</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" [checked]="hall" (change)="changeHallProperty($event)" type="checkbox" id="inlineCheckbox2"
                                                        value="option2">
                                                    <label class="form-check-label" for="inlineCheckbox2">Hall</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" [checked]="kitchen" (change)="changeKitchenProperty($event)" type="checkbox" id="inlineCheckbox3"
                                                        value="option3">
                                                    <label class="form-check-label" for="inlineCheckbox3">Kitchen</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" [checked]="bathroom" (change)="changeBathroomProperty($event)" type="checkbox" id="inlineCheckbox4"
                                                        value="option4">
                                                    <label class="form-check-label" for="inlineCheckbox4">Bathroom</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" [checked]="storeroom" (change)="changeStoreroomProperty($event)" type="checkbox" id="inlineCheckbox5"
                                                        value="option5">
                                                    <label class="form-check-label" for="inlineCheckbox5">Storeroom</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" [checked]="parkingSpace" (change)="changeParkingSpaceProperty($event)" type="checkbox" id="inlineCheckbox6"
                                                        value="option6">
                                                    <label class="form-check-label" for="inlineCheckbox6">Parking Space</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label class="form-label">Address</label>
                                                <textarea [(ngModel)]="address" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                                                    placeholder="Enter Address" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Cluster</label>
                                                <input disabled="" value="{{cluster}}"  type="text" class="form-control"
                                                placeholder="Enter Cluster Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Division</label>
                                                <input disabled="" value="{{division}}"  type="text" class="form-control"
                                                placeholder="Enter Division Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">State</label>
                                                <input disabled="" value="{{state}}"  type="text" class="form-control"
                                                placeholder="Enter State Name">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Zone</label>
                                                <input disabled="" value="{{zone}}"  type="text" class="form-control"
                                                placeholder="Enter Zone Name">
                                            </div>
                                        </div>


                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label class="form-label">Facilities</label>
                                                <br>
                                                <div class="form-check" *ngFor="let item of utilityMasters;let i=index">
                                                    <input class="form-check-input" [checked]="item.checked" (change)="getFacility(i)" type="checkbox" id="facilityCheck{{i}}">
                                                    <label class="form-check-label" for="facilityCheck{{i}}">{{item.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="button" style="float: right;" (click)="ModifierCustom.select(2)" class="btn btn-outline-primary btn-label waves-effect right waves-light"><i class="ri-arrow-right-s-line label-icon align-middle fs-16 ms-2"></i> Next</button>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink class="nav-link">
                    Landlord Details
                </a>
                <ng-template ngbNavContent>
                    <div class="card">
                        <div class="card-header">
                            <i class="ri-arrow-go-back-fill" style="cursor:pointer; margin-right: 10px;"
                                (click)="_location.back();"></i>
                            <span class="card-title mb-0 text-primary">{{label}}</span>
                        </div><!-- end card header -->
                        <div class="card-body">

                            <div class="row">
                                <div class="col-lg-6 border-right">
                                    <div class="row">


                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label required">Landlord Name</label>
                                                <input [disabled]="action == 0" [(ngModel)]="landlordname" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                                                    placeholder="Enter Landlord Name">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Mobile No</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">+91</span>
                                                    <input [disabled]="action == 0" type="text" [(ngModel)]="mobileno" [ngModelOptions]="{standalone: true}" placeholder="xxx xxx xxxx" mask="000 000 0000" class="form-control">
                                                </div>
                                            </div>
                                        </div>



                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label required">Bank Account No</label>
                                                <input [disabled]="action == 0" type="number" [(ngModel)]="bankaccountno" [ngModelOptions]="{standalone: true}" class="form-control"
                                                    placeholder="Enter Account No">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label required">IFSC Code</label>
                                                <input [disabled]="action == 0" type="text" style="text-transform:uppercase" [(ngModel)]="ifsccode" [ngModelOptions]="{standalone: true}" class="form-control"
                                                mask="AAAAAAAAAAA" placeholder="ABCDEFG1234">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Executed Date</label>
                                                <input [disabled]="action == 0" type="date" [(ngModel)]="executeddate" [ngModelOptions]="{standalone: true}" class="form-control"
                                                    placeholder="Enter Executed Date">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Effective Date</label>
                                                <input [disabled]="action == 0" type="date" [(ngModel)]="effectivedate" [ngModelOptions]="{standalone: true}"  class="form-control"
                                                    placeholder="Enter Effective Date">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Lessor Signature</label>
                                                <br>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" [checked]="lessorsignature == 'Yes'" (change)="uploadLessorSignature($event);" name="lessorSignature" id="lessorSignatureYes" value="Yes">
                                                    <label class="form-check-label" for="lessorSignatureYes">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" [checked]="lessorsignature == 'No'" (change)="uploadLessorSignature($event);" name="lessorSignature" id="lessorSignatureNo" value="No">
                                                    <label class="form-check-label" for="lessorSignatureNo">No</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Lessos Signature</label>
                                                <br>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" [checked]="lessossignature == 'Yes'"  (change)="uploadLessosSignature($event);" name="LessosSignature" id="LessosSignatureYes" value="Yes">
                                                    <label class="form-check-label" for="LessosSignatureYes">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" [checked]="lessossignature == 'No'"  (change)="uploadLessosSignature($event);" name="LessosSignature" id="LessosSignatureNo" value="No">
                                                    <label class="form-check-label" for="LessosSignatureNo">No</label>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label required">Pan (Owner)</label>
                                                <input [disabled]="action == 0" type="file" accept="image/*,application/pdf"
                                                 #panOwnerChild (change)="uploadPanOwner($event);" class="form-control" placeholder="Select">
                                                <div class="mt-1" *ngIf="panowner != ''">
                                                    <a href="{{baseURL}}retrieve/{{panowner}}" target="_blank">View Document</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label required">Premise Image</label>
                                                <input [disabled]="action == 0" type="file" accept="image/*,application/pdf"
                                                 #premiseImageChild (change)="uploadPremiseImage($event);" class="form-control" placeholder="Select">
                                                <div class="mt-1" *ngIf="premiseimages != ''">
                                                    <a href="{{baseURL}}retrieve/{{premiseimages}}" target="_blank">View Document</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label required">Notary</label>
                                                <input [disabled]="action == 0" type="file" accept="image/*,application/pdf"
                                                 #notaryChild (change)="uploadNotary($event);" class="form-control" placeholder="Select">
                                                <div class="mt-1" *ngIf="notary != ''">
                                                    <a href="{{baseURL}}retrieve/{{notary}}" target="_blank">View Document</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Authority Copy</label>
                                                <input [disabled]="action == 0" type="file" accept="image/*,application/pdf"
                                                 #authorityChild (change)="uploadAuthorityCopy($event);" class="form-control" placeholder="Select">
                                                <div class="mt-1" *ngIf="authoritycopy != ''">
                                                    <a href="{{baseURL}}retrieve/{{authoritycopy}}" target="_blank">View Document</a>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Pancard number (Landlord)</label>
                                                <input type="text" style="text-transform:uppercase" [(ngModel)]="pancardnumberlandlord" [ngModelOptions]="{standalone: true}" class="form-control" mask="SSSSS 0000 S" placeholder="ABCDE 1234 F">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Landlord Gst No</label>
                                                <input [disabled]="action == 0" style="text-transform:uppercase" [(ngModel)]="landlordgstno" [ngModelOptions]="{standalone: true}" type="text" class="form-control" mask="00 SSSSS 0000 S 0 A A" placeholder="22 ABCDE 1234 F 1 Z 5">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label required">Account Name</label>
                                                <input [disabled]="action == 0" type="text" [(ngModel)]="accountname" [ngModelOptions]="{standalone: true}" class="form-control"
                                                    placeholder="Enter Account Name">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Stamp Paper value</label>
                                                <input [disabled]="action == 0" type="number" [(ngModel)]="stamppapervalue" [ngModelOptions]="{standalone: true}" class="form-control"
                                                    placeholder="Enter Stamp Paper Value">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Expiry Date</label>
                                                <input [disabled]="action == 0" type="date" [(ngModel)]="expirydate" [ngModelOptions]="{standalone: true}" class="form-control"
                                                    placeholder="Enter Expiry Date">
                                            </div>
                                        </div>

                                        <div class="col-lg-6"></div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Witness Signature</label>
                                                <br>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="witnessSignature" [checked]="witnesssignature == 'Yes'" (change)="uploadWitnessSignature($event);" id="witnessSignatureYes" value="Yes">
                                                    <label class="form-check-label" for="witnessSignatureYes">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="witnessSignature" [checked]="witnesssignature == 'No'" (change)="uploadWitnessSignature($event);" id="witnessSignatureNo" value="No">
                                                    <label class="form-check-label" for="witnessSignatureNo">No</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Notary Done</label>
                                                <br>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="notaryDone" [checked]="notaryDone == 'Yes'" (change)="uploadNotaryDone($event);" id="notaryDoneYes" value="Yes">
                                                    <label class="form-check-label" for="notaryDoneYes">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="notaryDone" [checked]="notaryDone == 'No'" (change)="uploadNotaryDone($event);" id="notaryDoneNo" value="No">
                                                    <label class="form-check-label" for="witnessSignatureNo">No</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label required">Aadhar (Owner)</label>
                                                <input [disabled]="action == 0" type="file" accept="image/*,application/pdf" 
                                                #aadharChild (change)="uploadAadharOwner($event);" class="form-control" placeholder="Select">
                                                <div class="mt-1" *ngIf="aadharowner != ''">
                                                    <a href="{{baseURL}}retrieve/{{aadharowner}}" target="_blank">View Document</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label required">Bank Account Details (Owner)</label>
                                                <input [disabled]="action == 0" type="file" accept="image/*,application/pdf" 
                                                #bankAccDetailsChild (change)="uploadBankAccDetails($event);" class="form-control" placeholder="Select">
                                                <div class="mt-1" *ngIf="bankaccountowner != ''">
                                                    <a href="{{baseURL}}retrieve/{{bankaccountowner}}" target="_blank">View Document</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Branch Electricity Bill</label>
                                                <input [disabled]="action == 0" type="file" accept="image/*,application/pdf" 
                                                #branchEleBillChild (change)="uploadElectricityBill($event);" class="form-control" placeholder="Select">
                                                <div class="mt-1" *ngIf="electricityBill != ''">
                                                    <a href="{{baseURL}}retrieve/{{electricityBill}}" target="_blank">View Document</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Copy of Address Proof</label>
                                                <input [disabled]="action == 0" type="file" accept="image/*,application/pdf" 
                                                #addressProofChild (change)="uploadAddressProof($event);" class="form-control" placeholder="Select">
                                                <div class="mt-1" *ngIf="addressProof != ''">
                                                    <a href="{{baseURL}}retrieve/{{addressProof}}" target="_blank">View Document</a>
                                                </div>
                                            </div>
                                        </div>
                                        

                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="mb-3">
                                        <div class="d-flex align-items-lg-center flex-lg-row flex-column mb-2">
                                            <div class="flex-grow-1">
                                                <h4 class="fs-16 mb-1">Agreement</h4>
                                            </div>
                                            <div class="flex-shrink-0 ">
                                                <a  class="btn btn-primary btn-sm me-1" (click)="openModal(dataModal)"
                                                            ><i class="ri-add-line me-1 align-bottom"></i>
                                                            Add</a>
                                            </div>
                                
                                        </div>
                                        <div class="table-responsive">
                                            <table class="invoice-table table table-borderless table-fixed table-nowrap mb-0">
                                                <thead class="align-middle">
                                                    <tr class="table-active">
                                                        <th scope="col" style="width: 50px;">#</th>
                                                        <th scope="col">
                                                            Year
                                                        </th>
                                                        <th scope="col">
                                                            File No.
                                                        </th>
                                                        <th scope="col">
                                                            File
                                                        </th>
                                                        <th scope="col" style="width: 200px;">
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="newlink" *ngFor="let item of agreement;let index=index">
                                                    <tr>
                                                        <th scope="row" class="product-id">{{index+1}}</th>
                                                        <td style="width:200px;">
                                                        {{item.year}}
                                                        </td>
                                                        <td>
                                                            {{item.fileNo}}
                                                        </td>
                                                        <td >
                                                            <a class=" me-1" *ngIf="item.file != ''"
                                                            href="{{baseURL}}retrieve/{{item.file}}" target="_blank">View</a>
                                                        </td>
                                                        <td style="width: 200px;">
                                                            <a class="btn btn-danger btn-sm me-1" (click)="deleteData(index)"
                                                                ><i class="ri-delete-bin-line align-bottom"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer" *ngIf="action !== 0">
                        
                            <button type="button" style="float: right;" (click)="ModifierCustom.select(3)" class="btn btn-outline-primary btn-label waves-effect right waves-light"><i class="ri-arrow-right-s-line label-icon align-middle fs-16 ms-2"></i> Next</button>
                            <button type="button" style="float: right;" (click)="ModifierCustom.select(1)" class="btn btn-outline-primary btn-label waves-effect waves-light me-2"><i class="ri-arrow-left-s-line label-icon align-middle fs-16 me-1"></i> Previous</button>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink class="nav-link">
                    Other Details
                </a>
                <ng-template ngbNavContent>
                    <div class="card">
                        <div class="card-header">
                            <i class="ri-arrow-go-back-fill" style="cursor:pointer; margin-right: 10px;"
                                (click)="_location.back();"></i>
                            <span class="card-title mb-0 text-primary">{{label}}</span>
                        </div><!-- end card header -->
                        <div class="card-body">

                            <div class="row">
                                <div class="col-lg-6 border-right">
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Executed Date of Rent Agreement</label>
                                                <input [disabled]="action == 0" type="date" [(ngModel)]="executedDateOfRentAgreement" [ngModelOptions]="{standalone: true}" class="form-control"
                                                    placeholder="Enter Executed Date">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">No. of manpower (Applied for)</label>
                                                <input [disabled]="action == 0" type="number" [(ngModel)]="noOfManpower" [ngModelOptions]="{standalone: true}"  class="form-control"
                                                    placeholder="Enter No. of manpower (Applied for)">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Address Mentioned in SME with Rent Agreement</label>
                                                <ng-select [disabled]="action == 0" [(ngModel)]="isAddressMatched" [ngModelOptions]="{standalone: true}">
                                                    <ng-option value="Matched">Matched</ng-option>
                                                    <ng-option value="Not Matched">Not Matched</ng-option>
                                                 </ng-select>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">SNE Certificate/Gram Panchayat NOC</label>
                                                <input [disabled]="action == 0" type="file" accept="image/*,application/pdf" #sneCertificateChild (change)="uploadSneCertificate($event);" class="form-control" placeholder="Select">
                                                <div class="mt-1" *ngIf="sneCertificate != ''">
                                                    <a href="{{baseURL}}retrieve/{{sneCertificate}}" target="_blank">View Document</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Trade Licence</label>
                                                <br>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" [checked]="isTradeLicence == 'Yes'"  (change)="uploadisTradeLicence($event);" name="isTradeLicence" id="isTradeLicenceYes" value="Yes">
                                                    <label class="form-check-label" for="isTradeLicenceYes">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" [checked]="isTradeLicence == 'No'"  (change)="uploadisTradeLicence($event);" name="isTradeLicence" id="isTradeLicenceNo" value="No">
                                                    <label class="form-check-label" for="isTradeLicenceNo">No</label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-6" *ngIf="isTradeLicence == 'Yes'">
                                            <div class="mb-3">
                                                <label class="form-label">From Date</label>
                                                <input [disabled]="action == 0" type="date" [(ngModel)]="tradeLicenceFromDate" [ngModelOptions]="{standalone: true}" class="form-control"
                                                    placeholder="Enter From Date">
                                            </div>
                                        </div>

                                        <div class="col-lg-6" *ngIf="isTradeLicence == 'Yes'">
                                            <div class="mb-3">
                                                <label class="form-label">To Date</label>
                                                <input [disabled]="action == 0" type="date" [(ngModel)]="tradeLicenceToDate" [ngModelOptions]="{standalone: true}" class="form-control"
                                                    placeholder="Enter To Date">
                                            </div>
                                        </div>

                                        <div class="col-lg-6" *ngIf="isTradeLicence == 'Yes'">
                                            <div class="mb-3">
                                                <label class="form-label">Expiry Date/Validity</label>
                                                <input [disabled]="action == 0" type="date" [(ngModel)]="tradeLicenceExpiryDate" [ngModelOptions]="{standalone: true}" class="form-control"
                                                    placeholder="Enter Expiry Date/Validity">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer" *ngIf="action !== 0">
                            
                            <button type="button" style="float: right;" (click)="save()" class="btn btn-primary waves-effect waves-light"
                                [disabled]="loader">{{label}} <i class="fa fa-circle-o-notch fa-spin" *ngIf="loader"
                                    style="margin-left: 10px;"></i></button>
                            <button type="button" style="float: right;" (click)="ModifierCustom.select(2)" class="btn btn-outline-primary btn-label waves-effect waves-light me-2"><i class="ri-arrow-left-s-line label-icon align-middle fs-16 me-1"></i> Previous</button>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div class="tab-content text-muted">
            <div [ngbNavOutlet]="ModifierCustom"></div>
        </div>
    </div>
</div>

<ng-template #dataModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalFullscreenLabel">Add Agreement</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Close click')"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label">Year</label>
                        <input [(ngModel)]="year" [ngModelOptions]="{standalone: true}"  type="number" class="form-control"
                            placeholder="Enter Year">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label">File No.</label>
                        <input [(ngModel)]="fileNo" [ngModelOptions]="{standalone: true}"  type="text" class="form-control"
                            placeholder="Enter File No.">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label">File</label>
                        <input type="file" (change)="uploadAgreementCopy($event);" accept="image/*,application/pdf"
                         #agreementChild class="form-control" placeholder="Select">
                        <div class="mt-1" *ngIf="agreementcopy != ''">
                            <a href="{{baseURL}}retrieve/{{agreementcopy}}" target="_blank">View</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" (click)="addAgreement()" class="btn btn-primary waves-effect waves-light">Add</button>
        </div>
    </div><!-- /.modal-content -->

</ng-template><!-- /.modal-dialog -->