<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Employee Registration" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul ngbNav #ModifierCustom="ngbNav" [activeId]="1" class="nav nav-pills nav-customs nav-danger">
            <li [ngbNavItem]="1">
                <a ngbNavLink class="nav-link">
                    Pending
                </a>
                <ng-template ngbNavContent>
                    <div class="card" id="tasksList">
                        <div class="card-body border border-dashed border-end-0 border-start-0">
                            <form>
                                <div class="row g-3">
                                    <div class="col-xxl-5 col-sm-12">
                                        <div class="search-box">
                                            <input type="text" name="searchTerm" class="form-control"
                                                placeholder="Search" [(ngModel)]="searchTerm">
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-xxl-7 col-sm-12 flex items-end">
                                        <div class="text-md-right float-md-end ">
                                            <ul class="pagination">
                                                <li class="page-item me-2">
                                                    <button type="button" (click)="getData()"
                                                        class="btn btn-outline-primary btn-icon waves-effect waves-light"><i
                                                            class=" ri-refresh-line"></i></button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>
                        </div>
                        <!--end card-body-->
                        <div class="card-body">
                            <div class="table-responsive table-card mb-2">
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="bg-light text-muted">
                                            <th>{{'SR' | translate}}</th>
                                            <th>{{'Emp Code' | translate}}</th>
                                            <th>{{'Name' | translate}}</th>
                                            <th>{{'Email' | translate}}</th>
                                            <th>{{'Mobile' | translate}}</th>
                                            <th>{{'M/F' | translate}}</th>
                                            <th>{{'Action' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of pendingUserRequests|search:searchTerm;let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{item.employeeCode}}</td>
                                            <td>{{item.salutation}} {{item.firstName}} {{item.lastName}}</td>
                                            <td>{{item.email}}</td>
                                            <td>{{item.mobile}}</td>
                                            <td>{{item.gender}}</td>
                                            <td><button class="btn btn-sm btn-outline-success" style="margin-right: 10px;"
                                                    (click)="updateSuccessStatus(item._id)"><i
                                                        class="ri-check-line"></i></button>
                                                <button class="btn btn-sm btn-outline-danger" data-toggle="modal"
                                                    data-target="#modal-default"><i class="ri-close-line"
                                                        (click)="openRejectModal(rejectModal,item._id)"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!--end card-->
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink class="nav-link">
                    All
                </a>
                <ng-template ngbNavContent>
                    <div class="card" id="tasksList">
                        <div class="card-body border border-dashed border-end-0 border-start-0">
                            <form>
                                <div class="row g-3">
                                    <div class="col-xxl-5 col-sm-12">
                                        <div class="search-box">
                                            <input type="text" name="searchTerm" class="form-control"
                                                placeholder="Search" [(ngModel)]="searchTerm">
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-xxl-7 col-sm-12 flex items-end">
                                        <div class="text-md-right float-md-end ">
                                            <ul class="pagination">
                                                <li class="page-item me-2">
                                                    <button type="button" (click)="getData()"
                                                        class="btn btn-outline-primary btn-icon waves-effect waves-light"><i
                                                            class=" ri-refresh-line"></i></button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>
                        </div>
                        <!--end card-body-->
                        <div class="card-body">
                            <div class="table-responsive table-card mb-2">
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="bg-light text-muted">
                                            <th>{{'SR' | translate}}</th>
                                            <th>{{'Emp Code' | translate}}</th>
                                            <th>{{'Name' | translate}}</th>
                                            <th>{{'Email' | translate}}</th>
                                            <th>{{'Mobile' | translate}}</th>
                                            <th>{{'M/F' | translate}}</th>
                                            <th>{{'Status' | translate}}</th>
                                            <th>{{'Remark' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of oldUserRequests | search:searchTerm;let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{item.employeeCode}}</td>
                                            <td>{{item.salutation}} {{item.firstName}} {{item.lastName}}</td>
                                            <td>{{item.email}}</td>
                                            <td>{{item.mobile}}</td>
                                            <td>{{item.gender}}</td>
                                            <td>
                                                <span *ngIf="item.status == 1" class="badge badge-soft-success">Approved</span>
                                                <span *ngIf="item.status == 2" class="badge badge-soft-danger">Rejected</span>
                                            </td>
                                            <td>{{item.remark}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!--end card-->
                    </div>
                </ng-template>
            </li>
        </ul>
        <div class="tab-content text-muted">
            <div [ngbNavOutlet]="ModifierCustom"></div>
        </div>
    </div>
</div>


<ng-template #rejectModal let-modal>
    <div class="modal-body">
        <div class="form-group">
            <label for="exampleInputEmail1">{{'Remark' | translate}}</label>
            <textarea class="form-control" id="exampleInputEmail1" rows="3" [(ngModel)]="remark"></textarea>
        </div>
        <button class="btn btn-danger mt-2 me-2" (click)="updateRejectedStatus()">Reject</button>
        <button class="btn btn-default mt-2" (click)="closeRejectModal()">Close</button>
    </div>
</ng-template>