<!-- <app-breadcrumbs title="{{pageTitle}}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs> -->

<div class="card">
    <div class="card-header">
        <i class="ri-arrow-go-back-fill" style="cursor:pointer; margin-right: 10px;" (click)="_location.back();"></i>
        <span class="card-title mb-0 text-primary">{{label}}</span>
    </div><!-- end card header -->
    <div class="card-body">

        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Course Code</label>
                            <input disabled="" type="text" class="form-control" value="C{{courseCode}}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Keywords, Description, Tags <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Add Keywords, Description, Tags"
                                [(ngModel)]="courseKeywords" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label">Course Description <span class="text-danger">*</span></label>
                            <textarea type="text" class="form-control" rows="7" placeholder="Add Course Description"
                                [(ngModel)]="courseDesc" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label">Course Title <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Add Course Title"
                                [(ngModel)]="courseTitle" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label">Upload Thumbnail (300px X 200px)</label>
                            <input type="file" class="form-control" (change)="uploadThumbnail($event)" #thumbnailChild>
                            <div class="mt-1" *ngIf="thumbnailLink != ''">
                                <a href="{{thumbnailLink}}" target="_blank">
                                    {{'View Thumbnail' | translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label">Choose Module <span class="text-danger">*</span></label>
                            <div class="form-icon">
                                <input type="search" placeholder="Search" (input)="getItems($event)"
                                    class="form-control form-control-icon">
                                <i class="ri-search-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="" style="border:1px solid #D2D6DE;">
                            <div class="row" cdkDropListGroup>
                                <div class="col-lg-6">
                                    <div class="form-group" style="padding: 10px;">
                                        <label>{{'Available Modules' | translate}}</label>
                                        <div style="height: 500px; overflow: auto;" class="example-list">
                                            <div class="align-items-center d-flex example-box"
                                                *ngFor="let item of allModule;let i=index">
                                                <label class="mb-0 flex-grow-1"> M{{item.code}} - {{item.title}}</label>
                                                <div class="flex-shrink-0">
                                                    <button class="btn btn-sm btn-outline-primary"
                                                        (click)="checkModule(i)">
                                                        <i class="ri-add-line"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" style="padding: 10px">
                                        <label style="font-weight: bold;">{{'Selected Modules' | translate}}</label>
                                        <div style="height: 500px; overflow: auto;" cdkDropList
                                            [cdkDropListData]="moduleChecked" class="example-list"
                                            (cdkDropListDropped)="drop($event)">
                                            <div class="example-box ribbon-box ribbon-fill right"
                                                *ngFor="let item of moduleChecked;let i=index" cdkDrag>
                                                <div class="ribbon ribbon-success">
                                                    {{i+1}}
                                                </div>
                                                <div class="align-items-center d-flex">
                                                    <label class="mb-0 flex-grow-1"> M{{item.code}} -
                                                        {{item.title}}</label>
                                                    <div class="flex-shrink-0">
                                                        <label style="margin-right: 10px;"></label>
                                                        <button class="btn btn-sm btn-outline-danger"
                                                            style="margin-right:40px" (click)="deleteModule(i)">
                                                            <i class="ri-delete-bin-line"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div style="display: block; margin-left: 10px;">
                                                    <label
                                                        style="margin-top: 10px;margin-bottom: 10px;color: black; font-weight: bolder;">{{'Question Bank' | translate}}</label>
                                                    <div
                                                        style="border: 1px solid #eeeeee;padding: 10px;border-radius: 5px;">
                                                        <label>
                                                            Q{{item?.questionbank?.code}} -
                                                            {{item?.questionbank?.title}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" style="float: right;" class="btn btn-primary waves-effect waves-light" (click)="save()"
            [disabled]="loader">{{label}} <i class="fa fa-circle-o-notch fa-spin" *ngIf="loader"
                style="margin-left: 10px;"></i></button>
    </div>
</div>