<div class="row mb-3 pb-1">
    <div class="col-12">
        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
            <div class="flex-grow-1">
                <h4 class="fs-16 mb-1">{{'' | greet}}, <span class="text-primary">{{authService.currentUserValue.name}}</span></h4>
                <p class="text-muted mb-0">Here's what's happening today.</p>
            </div>
            <!-- <div class="mt-3 mt-lg-0">
                <div class="form-check form-switch form-switch-lg" dir="ltr">
                    <input type="checkbox" class="form-check-input" id="customSwitchsizelg" (change)="changeDashboard($event)">
                    <label class="form-check-label" for="customSwitchsizelg">{{dashboardType}} Dashboard</label>
                </div>
            </div> -->

        </div>
    </div>
</div>
<div *ngIf="dashboardType == 'Utility'">
<div class="row project-wrapper" >
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card rounded rounded-2">
                    <div class="card-body rounded rounded-2" style="background: #EBD5AF;">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 ms-3">
                                <p class="text-uppercase one-line fw-semibold fs-12 text-primary mb-1">
                                    Total Transactions</p>
                                <h4 class="mb-0"><span class="counter-value text-dark">{{total}}</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card rounded rounded-2">
                    <div class="card-body rounded rounded-2" style="background: #EBD5AF;">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 ms-3">
                                <p class="text-uppercase one-line fw-semibold fs-12 text-primary mb-1">
                                    Approved by Admin</p>
                                <h4 class="mb-0"><span class="counter-value text-dark">{{approvedAdmin}}</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card rounded rounded-2">
                    <div class="card-body rounded rounded-2" style="background: #EBD5AF;">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 ms-3">
                                <p class="text-uppercase one-line fw-semibold fs-12 text-primary mb-1">
                                    Approved by Finance</p>
                                <h4 class="mb-0"><span class="counter-value text-dark">{{approvedFinance}}</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card rounded rounded-2">
                    <div class="card-body rounded rounded-2" style="background: #EBD5AF;">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 ms-3">
                                <p class="text-uppercase one-line fw-semibold fs-12 text-primary mb-1">
                                    Pending Transactions</p>
                                <h4 class="mb-0"><span class="counter-value text-dark">{{pendingTransactions}}</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="d-flex align-items-lg-center flex-lg-row flex-column " >
                    <div class="flex-grow-1">
                        <div class="exceed position-absolute top-50 start-0 translate-middle-y ps-4">
                            <p class="text-muted mb-0">Exceeded <span class="text-primary">(Units)</span></p>
                            <h4 class="fs-16 mb-1">Consumptions</h4>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="card crm-widget">
                    <div class="card-body p-0">
                        <div class="row row-cols-md-4 row-cols-2">
                            <div class="col col-lg border-end" *ngFor="let item of exceeded">
                                <div class="py-4 px-3">
                                    <h5 class="text-muted text-uppercase fs-13">
                                        {{item.month}}
                                    </h5>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <h2 class="mb-0"><span
                                                 class="counter-value text-primary">{{item.total}}</span>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card rounded rounded-3">
                    <div class="card-header border-bottom-0 rounded-top align-items-center d-flex rounded-3">
                        <h4 class="card-title mb-0 flex-grow-1 text-primary">Transactions Overview</h4>
                        <div class="flex-shrink-0">
                            <div class="dropdown card-header-dropdown" ngbDropdown>
                                <a class="text-reset dropdown-btn arrow-none" style="cursor: pointer;"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    ngbDropdownToggle>
                                    <span class="text-muted">Year: {{salesSelectedName}}
                                        <!-- <i class="mdi mdi-chevron-down ms-1"></i> -->
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                    <a class="dropdown-item" style="cursor: pointer;"
                                        (click)="changeYearSelection('2021')">2021</a>
                                    <a class="dropdown-item" style="cursor: pointer;"
                                        (click)="changeYearSelection('2020')">2020</a>
                                    <a class="dropdown-item" style="cursor: pointer;"
                                        (click)="changeYearSelection('2019')">2019</a>
                                    <a class="dropdown-item" style="cursor: pointer;"
                                        (click)="changeYearSelection('2018')">2018</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- end card header -->

                    <div class="card-header p-0 border-0 bg-soft-light">
                        <div class="row g-0 text-center">
                            <div class="col-6 col-sm-3">
                                <div class="p-3 border border-dashed border-start-0">
                                    <h5 class="mb-1"><span class="counter-value">{{kpi.noOfTotalTransaction}}</span></h5>
                                    <p class="text-muted mb-0">Total Transactions</p>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-6 col-sm-3">
                                <div class="p-3 border border-dashed border-start-0">
                                    <h5 class="mb-1"><span class="counter-value">{{kpi.noOfExceededTransaction}}</span></h5>
                                    <p class="text-muted mb-0">Escalated Transactions</p>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-6 col-sm-3">
                                <div class="p-3 border border-dashed border-start-0">
                                    <h5 class="mb-1">₹<span class="counter-value">{{kpi.totalTransactionAmt}}</span></h5>
                                    <p class="text-muted mb-0">Amount Approval</p>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-6 col-sm-3">
                                <div class="p-3 border border-dashed border-start-0 border-end-0">
                                    <h5 class="mb-1">₹<span class="counter-value">{{kpi.totalExceededAmt}}</span></h5>
                                    <p class="text-muted mb-0">Exceeded Amount</p>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                    </div><!-- end card header -->
                    <div class="card-body p-0 pb-2">
                        <div class="mb-n3">
                            <apx-chart *ngIf="chart != undefined" [series]="chart.series" [chart]="chart.chart"
                                [stroke]="chart.stroke" [fill]="chart.fill" [markers]="chart.markers"
                                [xaxis]="chart.xaxis" [grid]="chart.grid" [legend]="chart.legend"
                                [plotOptions]="chart.plotOptions" [colors]="chart.colors" [tooltip]="chart.tooltip">
                            </apx-chart>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end col -->

    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-height-100 rounded rounded-3">
            <div class="card-header border-bottom-0 rounded-top rounded-3">
                <h4 class="card-title mb-0 text-primary">Approvals</h4>
            </div><!-- end cardheader -->
            <div class="card-body pt-0">
                <div>

                    <div type="text" [(ngModel)]="selectedDate" (change)="onSelectedDate($event)"
                    mwlFlatpickr [altInput]="true" [convertModelValue]="true" [inline]="true" mode="range"></div>              
                </div>

                <h6 class="text-uppercase fw-semibold mt-4 mb-3 text-primary">List:</h6>
                <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs nav-tabs-custom nav-primary mb-3">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>
                          Approved By Admin
                        </a>
                        <ng-template ngbNavContent>
                            <div class="table-responsive table-card">
                                <table class="table table-borderless table-nowrap align-middle mb-0 table-sm">
                                    <thead class="table-light text-muted">
                                        <tr>
                                            <th scope="col">Action</th>
                                            <th scope="col">Branch</th>
                                            <th scope="col">Bill No.</th>
                                            <th scope="col">Voucher No.</th>
                                            <th scope="col">Invoice Date</th>
                                            <th scope="col">Due Date</th>
                                            <th scope="col">From Date</th>
                                            <th scope="col">To Date</th>
                                            <th scope="col">No. of Days</th>
                                            <th scope="col">Bill Amt</th>
                                            <th scope="col">Exceeded</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let item of events">
                                            <tr *ngIf="item.adminStatus == 'Approved' && item.financeStatus == 'Pending'">
                                                <td>
                                                    <li ngbTooltip="Activity" *ngIf="item.adminStatus != 'Rejected' || item.financeStatus != 'Rejected'" placement="top" class="list-inline-item edit me-0">
                                                        <button (click)="openModal(DataModal,item)"
                                                            class=" btn btn-ghost-primary text-primary d-inline-block edit-item-btn p-0">
                                                            <i class="ri-pages-line fs-18"></i>
                                                        </button>
                                                    </li>
                                                </td>
                                                <td scope="col">{{item.branchCode}} - {{item.branchName}} </td>
                                                <td scope="col">{{item.billNo}}</td>
                                                <td scope="col">{{item.voucherNo}}</td>
                                                <td scope="col">{{item.invoiceDate | date:"dd MMM, yyyy"}}</td>
                                                <td scope="col">{{item.dueDate | date:"dd MMM, yyyy"}}</td>
                                                <td scope="col">{{item.fromBillDate | date:"dd MMM, yyyy"}}</td>
                                                <td scope="col">{{item.toBillDate | date:"dd MMM, yyyy"}}</td>
                                                <td scope="col">{{item.noOfDays}}</td>
                                                <td scope="col">₹ {{item.billAmount}}</td>
                                                <td scope="col">₹ {{(item.grossAmount > item.meter?.maximumConsumption)?(item.grossAmount - item.meter?.maximumConsumption):0}}</td>
                                                <td scope="col"><span *ngIf="item.adminStatus == 'Pending' && item.financeStatus == 'Pending'" class="badge rounded-pill bg-warning">Pending</span>
                                                    <span *ngIf="item.adminStatus == 'Approved' && item.financeStatus == 'Pending'" class="badge rounded-pill bg-success">Partially Approve</span>
                                                    <span *ngIf="item.adminStatus == 'Approved' && item.financeStatus == 'Approved'" class="badge rounded-pill bg-success">Approve</span>
                                                    <span *ngIf="item.adminStatus == 'Rejected' && item.financeStatus == 'Rejected'" class="badge rounded-pill bg-danger">Reject</span>
                                                </td>
                                            </tr>
                                        </ng-container>
                                      
                                        
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink >
                           Approved By Finance
                        </a>
                        <ng-template ngbNavContent>
                            <div class="table-responsive table-card" >
                                <table class="table table-borderless table-nowrap align-middle mb-0 table-sm">
                                    <thead class="table-light text-muted">
                                        <tr>
                                            <th scope="col">Action</th>
                                            <th scope="col">Branch </th>
                                            <th scope="col">Bill No.</th>
                                            <th scope="col">Voucher No.</th>
                                            <th scope="col">Invoice Date</th>
                                            <th scope="col">Due Date</th>
                                            <th scope="col">From Date</th>
                                            <th scope="col">To Date</th>
                                            <th scope="col">No. of Days</th>
                                            <th scope="col">Consumption</th>
                                            <th scope="col">Bill Amt</th>
                                            <th scope="col">Exceeded</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let item of events">
                                            <tr *ngIf="item.adminStatus == 'Approved' && item.financeStatus == 'Approved'">
                                                <td>
                                                    <li ngbTooltip="Activity" *ngIf="item.adminStatus != 'Rejected' || item.financeStatus != 'Rejected' " placement="top" class="list-inline-item edit me-0">
                                                        <button (click)="openModal(DataModal,item)"
                                                            class=" btn btn-ghost-primary text-primary d-inline-block edit-item-btn p-0">
                                                            <i class="ri-pages-line fs-18"></i>
                                                        </button>
                                                    </li>
                                                </td>
                                                <td scope="col">{{item.branchCode}} - {{item.branchName}} </td>
                                                <td scope="col">{{item.billNo}}</td>
                                                <td scope="col">{{item.voucherNo}}</td>
                                                <td scope="col">{{item.invoiceDate | date:"dd MMM, yyyy"}}</td>
                                                <td scope="col">{{item.dueDate | date:"dd MMM, yyyy"}}</td>
                                                <td scope="col">{{item.fromBillDate | date:"dd MMM, yyyy"}}</td>
                                                <td scope="col">{{item.toBillDate | date:"dd MMM, yyyy"}}</td>
                                                <td scope="col">{{item.noOfDays}}</td>
                                                <td scope="col">{{item.consumption}}</td>
                                                <td scope="col">₹ {{item.billAmount}}</td>
                                                <td scope="col">₹ {{(item.grossAmount > item.meter?.maximumConsumption)?(item.grossAmount - item.meter?.maximumConsumption):0}}</td>
                                                <td scope="col"><span *ngIf="item.adminStatus == 'Pending' && item.financeStatus == 'Pending'" class="badge rounded-pill bg-warning">Pending</span>
                                                    <span *ngIf="item.adminStatus == 'Approved' && item.financeStatus == 'Pending'" class="badge rounded-pill bg-success">Partially Approve</span>
                                                    <span *ngIf="item.adminStatus == 'Approved' && item.financeStatus == 'Approved'" class="badge rounded-pill bg-success">Approve</span>
                                                    <span *ngIf="item.adminStatus == 'Rejected' && item.financeStatus == 'Rejected'" class="badge rounded-pill bg-danger">Reject</span>
                                                </td>
                                            </tr>
                                        </ng-container>    
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content text-muted">
                    <div [ngbNavOutlet]="nav"></div>
                  </div>

                <!-- <div class="text-center" *ngIf="upcomingSchedulesTasks.length == 0">
                    <span>No Event Found</span>
                </div>
                <div class="mini-stats-wid d-flex align-items-center mt-3" style="cursor: pointer;"
                    *ngFor="let item of upcomingSchedulesTasks" [routerLink]="['/admin/tasks/details',item._id]">
                    <div class="flex-shrink-0 avatar-sm">
                        <span class="mini-stat-icon avatar-title rounded-circle text-success bg-soft-success fs-4">
                            {{item.createdAt | date:'dd'}}
                        </span>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6 class="mb-1">{{item.title}}</h6>
                        <p class="text-muted mb-0 desc" [innerHTML]="item.description"></p>
                    </div>
                    <div class="flex-shrink-0">
                        <p class="text-muted mb-0"> {{item.createdAt | date:'hh:mm a'}} </p>
                    </div>
                </div> -->
                <!-- <div class="mt-3 text-center">
                    <a href="javascript:void(0);" class="text-muted text-decoration-underline">View all Events</a>
                </div> -->

            </div><!-- end cardbody -->
        </div><!-- end card -->
    </div><!-- end col -->

</div>

<div class="row">
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-height-100 rounded rounded-3">
            <div class="card-header align-items-center d-flex border-bottom-0 rounded rounded-3">
                <h4 class="card-title mb-0 flex-grow-1 text-primary">Active Transactions</h4>

            </div><!-- end card header -->

            <div class="card-body">

                <div class="table-responsive table-card" style="height: 300px;">
                    <table class="table table-borderless table-nowrap align-middle mb-0 table-sm">
                        <thead class="table-light text-muted">
                            <tr>
                                <th scope="col">Action</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Utility Name </th>
                                <th scope="col">Bill No.</th>
                                <th scope="col">Voucher No.</th>
                                <th scope="col">Invoice Date</th>
                                <th scope="col">Due Date</th>
                                <th scope="col">From Date</th>
                                <th scope="col">To Date</th>
                                <th scope="col">No. of Days</th>
                                <th scope="col">Consumption</th>
                                <th scope="col">Bill Amt</th>
                                <th scope="col">Exceeded</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of activeTransactions">
                                <td>
                                    <li ngbTooltip="Activity" *ngIf="item.adminStatus != 'Rejected' || item.financeStatus == 'Rejected'" placement="top" class="list-inline-item edit me-0">
                                        <button (click)="openModal(DataModal,item)"
                                            class=" btn btn-ghost-primary text-primary d-inline-block edit-item-btn p-0">
                                            <i class="ri-pages-line fs-18"></i>
                                        </button>
                                    </li>
                                </td>
                                <td scope="col">{{item.branchCode}} - {{item.branchName}}</td>
                                <td scope="col">{{item.utility?.utility?.name}} </td>
                                <td scope="col">{{item.billNo}}</td>
                                <td scope="col">{{item.voucherNo}}</td>
                                <td scope="col">{{item.invoiceDate | date:"dd MMM, yyyy"}}</td>
                                <td scope="col">{{item.dueDate | date:"dd MMM, yyyy"}}</td>
                                <td scope="col">{{item.fromBillDate | date:"dd MMM, yyyy"}}</td>
                                <td scope="col">{{item.toBillDate | date:"dd MMM, yyyy"}}</td>
                                <td scope="col">{{item.noOfDays}}</td>
                                <td scope="col">{{item.consumption}}</td>
                                <td scope="col">₹ {{item.billAmount}}</td>
                                <td scope="col">₹ {{(item.grossAmount > item.meter?.maximumConsumption)?(item.grossAmount - item.meter?.maximumConsumption):0}}</td>
                                <td scope="col"><span *ngIf="item.adminStatus == 'Pending' && item.financeStatus == 'Pending'" class="badge rounded-pill bg-warning">Pending</span>
                                    <span *ngIf="item.adminStatus == 'Approved' && item.financeStatus == 'Pending'" class="badge rounded-pill bg-success">Partially Approve</span>
                                    <span *ngIf="item.adminStatus == 'Approved' && item.financeStatus == 'Approved'" class="badge rounded-pill bg-success">Approve</span>
                                    <span *ngIf="item.adminStatus == 'Rejected' && item.financeStatus == 'Rejected'" class="badge rounded-pill bg-danger">Reject</span>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div><!-- end cardbody -->
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card rounded rounded-3">
            <div class="card-header align-items-center d-flex border-bottom-0 rounded rounded-3">
                <h4 class="card-title mb-0 flex-grow-1 text-primary">Exceeded Status</h4>
            </div><!-- end card header -->
            <div class="card-body" >
                <apx-chart *ngIf="status7 != undefined" class="apex-charts" dir="ltr" [series]="status7.series" [labels]="status7.labels"
                [chart]="status7.chart" [plotOptions]="status7.plotOptions" [dataLabels]="status7.dataLabels"
                [legend]="status7.legend" [stroke]="status7.stroke" [colors]="status7.colors"></apx-chart>
                <div class="mt-3">

                    <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                        <p class="fw-medium mb-0"><i class="ri-checkbox-blank-circle-fill text-danger align-middle me-2"></i> Exceeded</p>
                        <div>
                            <span class="text-muted pe-5">{{exceededU}}</span>
                        </div>
                    </div><!-- end -->
                    <div class="d-flex justify-content-between py-2">
                        <p class="fw-medium mb-0"><i class="ri-checkbox-blank-circle-fill text-success align-middle me-2"></i> All</p>
                        <div>
                            <span class="text-muted pe-5">{{all}}</span>
                        </div>
                    </div><!-- end -->
                </div>
            </div>
        </div><!-- end card -->
    </div><!-- end col -->
</div>
<div class="row">
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-height-100 rounded rounded-3">
            <div class="card-header align-items-center d-flex border-bottom-0 rounded rounded-3">
                <h4 class="card-title mb-0 flex-grow-1 text-primary">Active Couriers</h4>

            </div><!-- end card header -->

            <div class="card-body">
                <div class="table-responsive table-card" style="height: 300px;">
                    <table class="table table-borderless table-nowrap align-middle mb-0 table-sm" >
                      <thead class="table-light text-muted">
                      <tr>
                        <th style="min-width: 50px;">SR</th>
                        <th>Invoice No.</th>
                        <th>Vendor Name</th>
                        <th>Total Amount</th>
                        <th> Date</th>
                        <th> Status</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of statCourierData;let i = index;">
                        <td style="min-width: 50px;">{{i+1}}</td>
                        <td>#{{item.invoiceNo}}</td>
                        <td>{{item.vendorName}}</td>
                        <td>{{item.totalAmount}}</td>
                        <td>{{item.date | date:'dd MMM, yyyy'}}</td>
                        <td><span *ngIf="item.status == 'Pending'" class="badge rounded-pill bg-warning">Pending</span>
                          <span *ngIf="item.status == 'Approved'" class="badge rounded-pill bg-success">Approve</span>
                          <span *ngIf="item.status == 'Rejected'" class="badge rounded-pill bg-danger">Reject</span></td>
                        <td>
                          <ul class="list-inline hstack gap-2 mb-0">
                              <li class="list-inline-item edit" data-bs-toggle="tooltip"
                                  data-bs-trigger="hover" ngbTooltip="View" placement="top">
                                  <a [routerLink]="['/admin/courier-transaction-details',item._id]"
                                      class="text-primary d-inline-block edit-item-btn">
                                      <i class="ri-eye-fill fs-16"></i>
                                  </a>
                              </li>
                          </ul>
                        </td>
                        
                      </tr>
                      </tbody>
                    </table>
                  </div>
            </div><!-- end cardbody -->
        </div><!-- end card -->
    </div><!-- end col -->
</div>
</div>

<div *ngIf="dashboardType == 'Rent'">
<span>Under Development</span>
</div>


<ng-template #DataModal let-modal>
    <app-tracking-modal  type="utility" id="{{item._id}}"></app-tracking-modal>
</ng-template>