<!-- auth-page wrapper -->
<div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center">
    <div class="bg-overlay"></div>
    <!-- auth-page content -->
    <div class="auth-page-content overflow-hidden pt-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card overflow-hidden" style="border-radius: 10px;">
                        <div class="row g-0"> 
                            <!-- end col -->
  
                            <div class="col-lg-12" style="background-color:#754C29;">
                                <div class="p-lg-5 p-4" style="padding:20px !important">
                                    <!-- <h1 style=" margin-bottom: 10px; font-weight: normal;color:#fff;">{{'Welcome!' | translate}}</h1> -->
                                    <div class="text-center mt-4">
                                        <a style="margin: 0 auto;"><img src="assets/images/Desktop-White-Logo.png" alt="" style="width: 252px; height: 65.5px;"></a>
                                    </div>
  
                                    <div class="m-5 mt-4 mb-0" >
                                        <h3 style="color: white;">Privacy Policy</h3>
                                        <pre style="color: white;">
A. OBJECTIVE:
    Fusion Micro Finance Limited (hereinafter referred to as “Fusion”/ “We”/ “Us”) may collect and store information about you when you visit our site, use our services, or view our online advertisements. The information which Fusion collects and stores during normal use of the site is used to monitor the use of the site and to help further the development of our products and services. We use this information to improve our Web-based offerings.
 
B.	SCOPE
 
This policy applies to information collected by Fusion through its websites.

1.	Collected Information:
 
a.	Fusion may collect personal information that you submit to us through the Services.
 
b.	Fusion also may collect some information automatically, which includes:

-	IP address
-	Information about your web browser software and version.
-	The general geographic location, as indicated by your IP address.
-	The website that referred you to us, and similar information.
 
c.	We also may collect information about your activity on our websites, which might include:

-	frequency of visits to our website;
-	The average length of visits;
-	Pages viewed during a visit.
 
d.	We may use various technologies to collect information about your activities on our websites, including:
 
-	Cookies (If not selected may affect certain or all functionalities);
-	Web Beacons / Web bugs (Measures user experience on our website).

e.	We may combine your information, automatically gathered information and the information we collect through cookies/web beacons/web bugs, including information that we have collected about you, or information that we have obtained from other sources. We may aggregate any statistics or data that are collected, but we are under no obligation to do so.

2.	Use of collected Personal Information
 
a.	Fusion may use the personal information that is collected from you to provide requested products and services and for our internal business purposes, including, but not limited to:
 
-	Responding to your requests for our unique products and services;
-	To process your transactions and to provide you with the transaction and post-transaction-related services, providing, improving, and marketing our products and services, including site content and performance;
-	Evaluating your use of the services;
-	Providing advertising for products and services that might interest you;
-	Responding to your requests for information;
-	Communicating with you by e-mail, postal mail or courier, and/or telephone about products or services that may be of interest to you;
-	Maintaining and managing your account with us;
-	Keeping you updated on the issues that are relevant to your business relationship with us;
-	Monitoring your compliance with any terms and conditions associated with our products and services, including confirming your identity;
-	Performing other functions as described to you at the time of collection or pursuant to your consent.
 
b.	In addition, certain information we collect, such as the IP address of any computer or other device that you use to access our website and any other domains that may be operated by Fusion, will be used to monitor, and investigate possible violations of and enforce any terms and conditions associated with our products and services or other applicable agreements between you and Fusion. Our use and sharing of your personal information in the manner described in this Privacy Policy may involve the transfer of your personal information to Fusion or third parties, as described in this Privacy Policy, that is in countries outside your country of residence, which may not have the same privacy legislation as your country of residence.
 
3.	How We Share Personal Information
 
a.	Service Providers

We may share personal information with organizations or individuals that perform functions on our behalf. For example, service providers may process payments for our products and services or may store and process data on our behalf. These service providers are granted access to personal information to perform their functions for Fusion.

b.	Marketing
 
Fusion may share collected personal information with group companies whose products and services we believe you may find of interest. If you would prefer that we not share your personal information with any third parties for the third parties' marketing purposes, you can notify us of your preference by contacting us as described in the “Contact Us” section.
 
c.	Legal Matters
 
Fusion may share personal information in response to a court order, a request for cooperation from law enforcement or other government agency, or as otherwise required by law; to persons acting in a representative capacity on your behalf; to defend against legal claims; to investigate, prevent, or take other action regarding illegal activity, suspected fraud, suspected violations of terms and conditions associated with any of our products or services, or other wrongdoing; or to protect and defend the rights, property or safety of our company, our users, our employees, or others.
 
d.	Transactions
 
Fusion may share personal information in connection with a substantial corporate transaction, such as mergers, acquisitions, the sale of our business, a divestiture, consolidation, or asset sale, or in the unlikely event of bankruptcy.
 
e.	Other Purposes
 
Fusion may share personal information as otherwise described to you at the point of collection or pursuant to your consent.
 
4.	Personal Information Protection
 	
a.	Fusion uses commercially reasonable security measures (including physical, electronic and procedural measures) to help safeguard personal information against loss, misuse, damage or modification and unauthorized access or disclosure. However, no system for transmitting or storing information electronically can be completely secure. Therefore, we cannot guarantee that personal information or other communications will always remain secure.
 
5.	Privacy Policy Changes
 
a.	This policy provides a general statement of how Fusion aims to protect your information. We may also occasionally update this privacy policy to reflect changes in our practices concerning the collection and use of your information. As a result, we encourage you to review the privacy policy before accessing the websites or otherwise furnishing data to Fusion.
 
6.	Policy Review
 
a.	We reserve the right to change or update this policy at any time by placing a prominent notice on our site. Such changes shall be effective immediately upon posting to this site.

                                        </pre>
                                    </div>

                                </div>
                                <br><br><br>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
  
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->
  </div>
  <!-- end auth-page-wrapper -->
  