

<div class="row">
    <div class="card"  id="tasksList">
        <div class="card-header">
            <i class="ri-arrow-go-back-fill" style="cursor:pointer; margin-right: 10px;" (click)="_location.back();"></i>
            <span class="card-title mb-0 text-primary">Rent Transaction Details</span>
        </div><!-- end card header -->
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <h5>Branch Details</h5>
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <label class="form-label">Branch Code</label>
                            <input type="text" class="form-control" value="{{item.rent?.branchCode}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Branch Name</label>
                            <input type="text" class="form-control" value="{{item.rent?.branchName}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Zone</label>
                            <input type="text" class="form-control" value="{{item.rent?.zone}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">State</label>
                            <input type="text" class="form-control" value="{{item.rent?.state}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Division</label>
                            <input type="text" class="form-control" value="{{item.rent?.division}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Cluster</label>
                            <input type="text" class="form-control" value="{{item.rent?.cluster}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Premises Type</label>
                            <input type="text" class="form-control" value="{{item.rent?.premisesType}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Property Type</label>
                            <input type="text" class="form-control" value="{{item.rent?.propertyType}}" readonly>
                        </div>
                        <!--end col-->
                    </div>
                </div>
                <div class="col-lg-6 mb-3">
                    <h5>Landlord Details</h5>
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <label class="form-label">Landlord Name</label>
                            <input type="text" class="form-control" value="{{item.rent?.landlordName}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Mobile No</label>
                            <div class="input-group">
                                <span class="input-group-text">+91</span>
                                <input type="text" class="form-control" value="{{item.rent?.mobileNo}}" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Pancard number (Landlord)</label>
                            <input type="text" class="form-control" style="text-transform:uppercase" value="{{item.rent?.panLandlord}}" readonly>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Landlord Gst No</label>
                            <input type="text" class="form-control" style="text-transform:uppercase" value="{{item.rent?.landlordgstno}}" readonly>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Landlord Bank Account No.</label>
                            <input type="text" class="form-control" value="{{item.rent?.bankAccNo}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Landlord Bank IFSC Code</label>
                            <input type="text" class="form-control" style="text-transform:uppercase" value="{{item.rent?.ifscCode}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label required">Account Name</label>
                            <input type="text" value="{{item.rent?.accountname}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-lg-6 mb-3">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <label class="form-label">Monthly Rent</label>
                            <div class="input-group">
                                <span class="input-group-text">₹</span>
                                <input type="text" class="form-control" value="{{item.rent?.monthlyRent}}" readonly>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Maintenance Amount</label>
                            <div class="input-group">
                                <span class="input-group-text">₹</span>
                                <input type="text" class="form-control" value="{{item.rent?.maintenanceAmount}}" readonly>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Total Monthly Rent</label>
                            <div class="input-group">
                                <span class="input-group-text">₹</span>
                                <input type="text" class="form-control" value="{{item.rent?.totalMonthlyRent}}" readonly>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6" *ngIf="item.isTds">
                            <label class="form-label">TDS</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="{{item.tds}}" readonly>
                                <span class="input-group-text">%</span>
                            </div>
                           
                        </div>
                        <!--end col-->
                        <div class="col-lg-6" *ngIf="item.isTds">
                            <label class="form-label">Total Monthly Rent After TDS Deduction</label>
                            <input type="text" class="form-control" value="{{item.totalRentAfterDeduction}}" readonly>
                        </div>
                        <!--end col-->
                    </div>
                </div>
                <div class="col-lg-6 mb-3">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <label class="form-label">Pending Arrear</label>
                            <input type="text" class="form-control" value="{{item.pendingArrear}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Waiver</label>
                            <input type="text" class="form-control" value="{{item.waiver}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Deduction</label>
                            <input type="text" class="form-control" value="{{item.deduction}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Security Deposit Adjust</label>
                            <input type="text" class="form-control" value="{{item.securityDepositAdjust}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">First Rent Transfer of New Branch</label>
                            <input type="text" class="form-control" value="{{item.firstRentTrasnfer}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Terms</label>
                            <input type="text" class="form-control" value="{{item.terms}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Effective Date</label>
                            <input type="text" class="form-control" value="{{item.effectiveDate | date:'dd MMM, yyyy'}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Expiry Date</label>
                            <input type="text" class="form-control" value="{{item.expiryDate | date:'dd MMM, yyyy'}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Increment</label>
                            <input type="text" class="form-control" value="{{item.increment}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Total Transfer Rent</label>
                            <input type="text" class="form-control" value="{{item.totalTransferRent}}" readonly>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <label class="form-label">Remarks</label>
                            <input type="text" class="form-control" value="{{item.remarks}}" readonly>
                        </div>
                        <!--end col-->
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <button type="button" style="float: right;" placement="top"  class="btn btn-outline-primary waves-effect waves-light" (click)="openModal(fullDataModal)">
                Activity </button>
            <button type="button" style="float: right;" *ngIf="authS.currentUserValue.roleProfile == 'field admin' && item.adminStatus == 'Pending'  && item.financeStatus == 'Pending' && (authS.hasApprovePermission('rent',(item.isTds)?item.totalRentAfterDeduction:item.totalMonthlyRent, item.verifyStatus) || authS.hasVerifiedPermission('rent',(item.isTds)?item.totalRentAfterDeduction:item.totalMonthlyRent, item.verifyStatus))" placement="top"  class="btn btn-outline-primary waves-effect waves-light me-2" (click)="openModal1(dataModal,'adminreject')">
                Reject </button>
            <button type="button" style="float: right;" *ngIf="item.adminStatus == 'Pending'  && item.financeStatus == 'Pending' && authS.hasApprovePermission('rent',(item.isTds)?item.totalRentAfterDeduction:item.totalMonthlyRent, item.verifyStatus)" class="btn btn-primary waves-effect waves-light me-2" (click)="openModal1(dataModal,'adminapprove')">
                Approve </button>
            <button type="button" style="float: right;" *ngIf="item.adminStatus == 'Pending'  && item.financeStatus == 'Pending' && authS.hasVerifiedPermission('rent',(item.isTds)?item.totalRentAfterDeduction:item.totalMonthlyRent, item.verifyStatus)" class="btn btn-primary waves-effect waves-light me-2" (click)="openModal1(dataModal,'adminverify')">
                Verify </button>
            <span  style="float: right;" *ngIf="item.adminStatus == 'Pending'  && item.financeStatus == 'Pending' && !authS.hasApprovePermission('rent',(item.isTds)?item.totalRentAfterDeduction:item.totalMonthlyRent, item.verifyStatus) && !authS.hasVerifiedPermission('rent',(item.isTds)?item.totalRentAfterDeduction:item.totalMonthlyRent, item.verifyStatus)" class="text-danger waves-effect waves-light me-2 fw-medium">
                Permission Restricted </span>
            <button type="button" style="float: right;" *ngIf="item.adminStatus == 'Approved'  && item.financeStatus == 'Pending' && authS.hasFApprovePermission('rent',(item.isTds)?item.totalRentAfterDeduction:item.totalMonthlyRent, item.fverifyStatus)" class="btn btn-primary waves-effect waves-light me-2" (click)="openModal1(dataModal,'financeapprove')">
                Approve </button>
            <button type="button" style="float: right;" *ngIf="item.adminStatus == 'Approved'  && item.financeStatus == 'Pending' && authS.hasFVerifiedPermission('rent',(item.isTds)?item.totalRentAfterDeduction:item.totalMonthlyRent, item.fverifyStatus)" class="btn btn-primary waves-effect waves-light me-2" (click)="openModal1(dataModal,'financeverify')">
                Verify </button>
            <span  style="float: right;" *ngIf="item.adminStatus == 'Approved'  && item.financeStatus == 'Pending' && !authS.hasFApprovePermission('rent',(item.isTds)?item.totalRentAfterDeduction:item.totalMonthlyRent, item.fverifyStatus) && !authS.hasFVerifiedPermission('rent',(item.isTds)?item.totalRentAfterDeduction:item.totalMonthlyRent, item.fverifyStatus)" class="text-danger waves-effect waves-light me-2 fw-medium">
                Permission Restricted </span>
        </div>
    </div>
    
</div>

<ng-template #fullDataModal let-modal>
    <app-tracking-modal  type="rent" id="{{item._id}}"></app-tracking-modal>
</ng-template>

<ng-template #dataModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalFullscreenLabel" *ngIf="value == 'adminverify' || value == 'financeverify'">Verify Bill</h5>
            <h5 class="modal-title" id="exampleModalFullscreenLabel" *ngIf="value == 'adminapprove' || value == 'financeapprove'">Approve Bill</h5>
            <h5 class="modal-title" id="exampleModalFullscreenLabel" *ngIf="value == 'adminreject' || value == 'financereject'">Reject Bill</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Close click')"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label">Remark</label>
                        <input [(ngModel)]="remark" [ngModelOptions]="{standalone: true}"  type="text" class="form-control"
                            placeholder="Enter Remark">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label">Upload Document</label>
                        <input type="file" class="form-control" (change)="uploadDocument($event)"
                            placeholder="Enter Remark">
                        <div class="mt-1" *ngIf="document != ''">
                            <a href="{{baseURL}}retrieve/{{document}}" target="_blank">View Document</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" *ngIf="value == 'financeverify'" (click)="updateFVerifiyStatus()" class="btn btn-primary waves-effect waves-light">Submit</button>
            <button type="button" *ngIf="value == 'financeapprove'" (click)="updateFinanceStatus('Approved')" class="btn btn-primary waves-effect waves-light">Submit</button>
            <button type="button" *ngIf="value == 'financereject'" (click)="updateFinanceStatus('Rejected')" class="btn btn-primary waves-effect waves-light">Submit</button>
            <button type="button" *ngIf="value == 'adminverify'" (click)="updateVerifiyStatus()" class="btn btn-primary waves-effect waves-light">Submit</button>
            <button type="button" *ngIf="value == 'adminapprove'" (click)="updateAdminStatus('Approved')" class="btn btn-primary waves-effect waves-light">Submit</button>
            <button type="button" *ngIf="value == 'adminreject'" (click)="updateAdminStatus('Rejected')" class="btn btn-primary waves-effect waves-light">Submit</button>
        </div>
    </div><!-- /.modal-content -->

</ng-template><!-- /.modal-dialog -->