
<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalFullscreenLabel">Bulk Approve/Reject</h5>
      
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalService.dismissAll()"></button>
    </div>
    <div class="modal-body">
        <div class="card" id="tasksList" style="box-shadow: unset;">
            <div class="card-header mb-2" style="padding:unset;border-bottom:unset;">
                <button class="btn btn-primary me-2" *ngIf="type == 'admin'" (click)="adminApproveAll()" style="float: right;"[disabled]="aloading">Approve Selected</button>
                <button class="btn btn-primary me-2" *ngIf="type == 'finance'" (click)="financeApproveAll()" style="float: right;"[disabled]="aloading">Approve Selected</button>
            </div>
            
                <div class="table-responsive mb-2" >
                    <table class="table table-nowrap align-middle mb-0 ">
                        <thead class="table-light text-muted">
                            <tr>
                                <th class="text-center" *ngIf="type == 'admin'">
                                    <div class="form-check">
                                        <input class="form-check-input" (change)="allAdminSelection($event)" type="checkbox">
                                    </div>
                                    <!-- <input style="vertical-align: middle;" type="checkbox" (change)="allAdminSelection($event)"> -->
                                </th>
                                <th class="text-center" *ngIf="type == 'finance'">
                                    <div class="form-check">
                                        <input class="form-check-input" (change)="allFinanceSelection($event)" type="checkbox">
                                    </div>
                                </th>
                                <th>Sr. No.</th>
                                <th>Branch</th>
                                <th>Date</th>
                                <th>Pending Arrear</th>
                                <th>Waiver</th>
                                <th>Deduction</th>
                                <th>Total Transfer Rent</th>
                                <th>Increment</th>
                                <th>Expiry Date</th>
                                <th>Admin Approval</th>
                                <th>Finance Approval</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of data;let i=index">
                                <tr
                                    *ngIf="type == 'admin' && item?.adminStatus == 'Pending' && item?.financeStatus == 'Pending' && authS.hasApprovePermission('rent',(item.isTds)?item.totalRentAfterDeduction:item.totalMonthlyRent, item.verifyStatus)">
                                    <td class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" [(ngModel)]="item.checked" (click)="check(i)" type="checkbox">
                                        </div>
                                    </td>
                                    <td>{{i+1}}</td>
                                    <td scope="col">#{{item.rent?.branchCode}} - {{item.rent?.branchName}}</td>
                                    <td scope="col">{{item.createdAt | date:'dd MMM, yyyy'}}</td>
                                    <td scope="col">₹ {{item.pendingArrear}}</td>
                                    <td scope="col">₹ {{item.waiver}}</td>
                                    <td scope="col">₹ {{item.deduction}}</td>
                                    <td scope="col">₹ {{item.totalTransferRent}}</td>
                                    <td scope="col">₹ {{item.increment}}</td>
                                    <td scope="col">{{item.expiryDate | date:'dd MMM, yyyy'}}</td>
                                    <td scope="col"><span *ngIf="item.adminStatus == 'Pending'" class="badge rounded-pill bg-warning">Pending</span>
                                        <span ngbTooltip="Approve By {{item.adminApproved?.name}}" placement="top" *ngIf="item.adminStatus == 'Approved'" class="badge rounded-pill bg-success">Approve</span></td>
                                    <td scope="col"><span *ngIf="item.financeStatus== 'Pending'" class="badge rounded-pill bg-warning">Pending</span>
                                        <span ngbTooltip="Approve By {{item.financeApproved?.name}}" placement="top"*ngIf="item.financeStatus== 'Approved'" class="badge rounded-pill bg-success">Approve</span></td>
                                </tr>
                                <tr
                                    *ngIf="type == 'finance' && item?.adminStatus == 'Approved' && item?.financeStatus == 'Pending' && authS.hasFApprovePermission('rent',(item.isTds)?item.totalRentAfterDeduction:item.totalMonthlyRent, item.fverifyStatus)">
                                    <td class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" [(ngModel)]="item.checked" (click)="check(i)" type="checkbox">
                                        </div>
                                    </td>
                                    <td>{{i+1}}</td>
                                    <td scope="col">#{{item.rent?.branchCode}} - {{item.rent?.branchName}}</td>
                                    <td scope="col">{{item.createdAt | date:'dd MMM, yyyy'}}</td>
                                    <td scope="col">₹ {{item.pendingArrear}}</td>
                                    <td scope="col">₹ {{item.waiver}}</td>
                                    <td scope="col">₹ {{item.deduction}}</td>
                                    <td scope="col">₹ {{item.totalTransferRent}}</td>
                                    <td scope="col">₹ {{item.increment}}</td>
                                    <td scope="col">{{item.expiryDate | date:'dd MMM, yyyy'}}</td>
                                    <td scope="col"><span *ngIf="item.adminStatus == 'Pending'" class="badge rounded-pill bg-warning">Pending</span>
                                        <span ngbTooltip="Approve By {{item.adminApproved?.name}}" placement="top" *ngIf="item.adminStatus == 'Approved'" class="badge rounded-pill bg-success">Approve</span></td>
                                    <td scope="col"><span *ngIf="item.financeStatus== 'Pending'" class="badge rounded-pill bg-warning">Pending</span>
                                        <span ngbTooltip="Approve By {{item.financeApproved?.name}}" placement="top"*ngIf="item.financeStatus== 'Approved'" class="badge rounded-pill bg-success">Approve</span></td>
                                </tr>
                            </ng-container>

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6"></div>
                    <div class="col-sm-12 col-md-6">
                        <div class="text-md-right float-md-end ">
                            <ul class="pagination">
                                <li class="page-item me-2">
                                    <button class="btn btn-sm btn-soft-primary" [disabled]="page==1"
                                        (click)="previousPage()">
                                        <span aria-hidden="true"><i
                                                class="ri-arrow-left-s-line fs-18"></i></span>
                                    </button>
                                </li>
                                <li class="page-item me-2">
                                    <button class="btn btn-sm btn-soft-primary" [disabled]="!hasMore"
                                        (click)="nextPage()">
                                        <span aria-hidden="true"><i
                                                class="ri-arrow-right-s-line fs-18"></i></span>
                                    </button>
                                </li>
                                <li class="page-item" *ngIf="loading">
                                    <span class="spinner-border flex-shrink-0" role="status"><span
                                            class="visually-hidden">Loading...</span></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
