<!-- <app-breadcrumbs title="{{pageTitle}}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs> -->

<div class="card">
    <div class="card-header">
        <i class="ri-arrow-go-back-fill" style="cursor:pointer; margin-right: 10px;" (click)="_location.back();"></i>
        <span class="card-title mb-0 text-primary">{{label}}</span>
    </div><!-- end card header -->
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="mb-3">
                            <label class="form-label required">Date</label>
                            <input [disabled]="action == 0" type="date" class="form-control" placeholder="Select"
                                [(ngModel)]="date" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 border-right">
                <h5 class="">Origination</h5>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Branch Name</label>
                            <input type="text" class="form-control" placeholder="Enter Branch Code" readonly=""
                                value="{{branchCode}} - {{branchName}}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Branch Address</label>
                            <input type="text" class="form-control" placeholder="Enter Branch Address" readonly=""
                                value="{{branchAddress}}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Cluster</label>
                            <input disabled="" type="text" class="form-control" placeholder="Enter Cluster"
                                [(ngModel)]="cluster" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">State</label>
                            <input disabled="" type="text" class="form-control" placeholder="Enter State"
                                [(ngModel)]="state" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label required">Vendor Name</label>
                            <input [disabled]="action == 0" type="text" class="form-control" placeholder="Enter Vendor Name"
                                [(ngModel)]="vendorName" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Vendor GST No.</label>
                            <input [disabled]="action == 0" type="text" class="form-control" 
                                [(ngModel)]="vendorGstNo" [ngModelOptions]="{standalone: true}" mask="00 SSSSS 0000 S 0 A A"
                                placeholder="22 ABCDE 1234 F 1 Z 5">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label required">Invoice No.</label>
                            <input [disabled]="action == 0" type="text" class="form-control" placeholder="Enter Invoice No."
                                [(ngModel)]="invoiceNo" [ngModelOptions]="{standalone: true}" >
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label required">Attach Courier Invoice</label>
                            <input [disabled]="action == 0" type="file" accept="image/*,application/pdf" 
                            #courierInvChild (change)="uploadCourierInvoice($event)"
                                class="form-control" placeholder="Enter Remarks">
                            <div class="mt-1" *ngIf="courierInvoice != ''">
                                <a href="{{baseURL}}retrieve/{{courierInvoice}}" target="_blank">View Document</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="">Destination</h5>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label required">Destination</label>
                            <input [disabled]="action == 0" type="text" class="form-control" placeholder="Enter Destination"
                                [(ngModel)]="destination" [ngModelOptions]="{standalone: true}" >
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label required">Courier Charges</label>
                            <div class="input-group">
                                <span class="input-group-text">₹</span>
                                <input [disabled]="action == 0" type="number" class="form-control"
                                    placeholder="Enter Courier Charges" [(ngModel)]="courierChanges" (keyup)="getCourierChanges()"
                                    [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label required">GST Charges</label>
                            <div class="input-group">
                                <span class="input-group-text">₹</span>
                                <input [disabled]="action == 0" type="number" class="form-control" placeholder="Enter GST Charges" (keyup)="getCourierChanges()"
                                    [(ngModel)]="gstChanges" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label required">Total Amount</label>
                            <div class="input-group">
                                <span class="input-group-text">₹</span>
                                <input readonly type="number" class="form-control" placeholder="Enter Total Amount"
                                    [(ngModel)]="totalAmount" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="table-responsive mb-2">
                <table class="table">
                  <thead>
                  <tr class="bg-light text-muted">
                    <th scope="col" style="width: 40px;">#</th>
                    <th>Document Name</th>
                    <th>Document Reference No.</th>
                    <th>Quantity</th>
                    <th scope="col" class="text-end"></th>
                  </tr>
                  </thead>
                  <tbody>
                    <tbody id="newlink">
                        <tr *ngFor="let item of items;let i=index" id="{{i+1}}" class="product">
                            <th scope="row" class="product-id">{{i+1}}</th>
                            <td class="text-start">
                                    <input type="text" [disabled]="action == 0" class="form-control" placeholder="Document Name" required [(ngModel)]="item.documentName"  [ngModelOptions]="{standalone: true}"/>
                            </td>
                            <td>
                                <input type="text" [disabled]="action == 0" class="form-control" placeholder="Document Reference No." required [(ngModel)]="item.refNo" [ngModelOptions]="{standalone: true}"/>
                            </td>
                            <td>
                                <input type="number" [disabled]="action == 0" class="form-control" placeholder="Quantity" required [(ngModel)]="item.quantity" [ngModelOptions]="{standalone: true}"/>
                            </td>

                            <td class="product-removal" *ngIf="action != 0">
                                <a class="btn btn-ghost-danger" (click)="delete(i)"><i class="ri-delete-bin-fill"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tr id="newForm" style="display: none;"></tr>
                    <tr>
                        <td colspan="9" *ngIf="action != 0">
                            <a class="btn btn-soft-secondary fw-medium" (click)="add()"><i class="ri-add-fill me-1 align-bottom"></i> Add Item</a>
                        </td>
                    </tr>
                </table>
              </div>
        </div>
    </div>
    <div class="card-footer" *ngIf="action !== 0">
        <button type="button" style="float: right;" class="btn btn-primary waves-effect waves-light" (click)="save()"
            [disabled]="loader">{{label}} <i class="fa fa-circle-o-notch fa-spin" *ngIf="loader"
                style="margin-left: 10px;"></i></button>
    </div>
</div>