.team-box .team-cover::before{
    background: unset;
}


.nav-tabs{
    border-bottom: unset;

}
.nav-tabs .nav-link:hover{
    color:black;
}
.nav-tabs .nav-link.active{
    border: 1px solid #CD5D28 !important;
    background-color: unset !important;
    color: #CD5D28 !important;
    margin-bottom: unset;
    border-radius: unset;
    padding: 0.2rem 0.5rem;
}

.nav-tabs .nav-link{
    background-color: #e7e8ea;
    margin-bottom: unset;
    border-radius: unset;
    padding: 0.2rem 0.5rem;
    border:1px solid #e7e8ea;
}

.profile-user .profile-photo-edit {
    position: absolute;
    right: -2px;
    left: auto;
    bottom: -1px;
    height: 1.5rem;
    cursor: pointer;
    width: 1.5rem;
}

.tab-content{
    border:0.5px solid #e0e0e0;
}

.avatar-lg{
    position: absolute;
    top: 21%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
}

@media only screen and (min-width: 1200px) {
    
}

@media only screen and (min-width: 992px) {
   
}

@media only screen and (max-width: 768px) {
    .avatar-lg{
        
        top: 10% !important;
    }

    .m-4{
        margin: unset !important;
    }
}

@media only screen and (min-width: 600px) {
   
}

@media only screen and (max-width: 600px) {
    .avatar-lg{
        
        top: 10% !important;
    }

    .m-4{
        margin: unset !important;
    }
    .nav{
        display: unset !important;
    }
}

.form-control[readonly]{
    background-color: white !important;
    color: #9e9e9e !important;
}
