 <!-- start page title -->
 <div class="row">
    <div class="col-12" style="padding: 0px;">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between" style="background-color: #fff !important;padding: 0.2rem calc(var(--vz-gutter-x) * 0.5);padding-right: unset;">
            
            <h4 class="mb-sm-0 text-dark"> <i class="ri-arrow-left-circle-line fs-18" (click)="location.back()" *ngIf="isBack == 'Yes' && authS.getPlatform() == 'android'" style="vertical-align: sub; margin-right: 5px;"></i>{{title}}</h4>
  
            <div class="page-title-right" *ngIf="name != undefined && name != '' && name != null">
                <h4 class="bottom-right moduleName fs-13 text-white" style="margin: 0 !important;">
                    <p>{{name}}</p>
                </h4>
            </div>
  
        </div>
    </div>
  </div>
  <!-- end page title -->
  