<!-- auth-page wrapper -->
<div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center"
    style="height: 100vh !important;">
    <div class="bg-overlay"></div>
    <!-- auth-page content -->
    <div class="auth-page-content overflow-hidden pt-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card overflow-hidden" style="border-radius: 10px;">
                        <div class="row g-0">
                            <div class="col-lg-6 d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
                                <div class="auth-one-bg h-100">
                                    <div class="bg-overlay"></div>
                                    <div style="display: block;margin: auto 0;">
                                        <img src="assets/images/office.png" alt="" style="width:100%;height:auto;bottom: 0;
                                        position: absolute;">
                                    </div>
                                    <div class="position-relative d-flex flex-column"
                                        style="padding:20px !important; padding-bottom: unset;">
                                        <h1 style=" margin-bottom: 10px; font-weight: normal;color:#666;">{{'Forgot Password' | translate}}</h1>
                                        <h4 style="color:#666;font-weight: 300; ">{{'Make sure your account is secure' | translate}}</h4>
                                    </div>


                                </div>
                            </div>
                            <!-- end col -->

                            <div class="col-lg-6" style="background-color: #754C29;">
                                <div style="justify-content: center;padding-top: 47px;padding-bottom: 47px">
                                    <div class="" style="padding:20px !important">
                                        <div class="text-center">
                                            <a
                                                style="margin: 0 auto;"><img
                                                    src="assets/images/Desktop-White-Logo.png" alt=""
                                                    style="width: 252px; height: 65.5px;"></a>
                                        </div>

                                        <div class="m-5 mt-4 mb-0">
                                            <form>

                                                <div class="mb-2">
                                                    <input type="text" class="form-control idInput" placeholder="{{'Employee Code' | translate}}"
                                                        [(ngModel)]="employeeCode"
                                                        [ngModelOptions]="{standalone: true}" style="text-transform: capitalize;"> 
                                                </div>

                                                <div class="mb-2">
                                                    <input type="text" placeholder="{{'Date of Birth' | translate}}"
                                                        class="form-control flatpickr-input" mwlFlatpickr [altInput]="true" 
                                                        [convertModelValue]="true" [(ngModel)]="dob" [ngModelOptions]="{standalone: true}">
                                                    
                                                </div>

                                                <div class="mb-2">
                                                    <input type="number" FMF012394 class="form-control"
                                                        placeholder="{{'Mobile No.' | translate}}" [(ngModel)]="mobile"
                                                        [ngModelOptions]="{standalone: true}">
                                                </div>

                                                <div class="mb-2">
                                                    <div class="position-relative auth-pass-inputgroup ">
                                                        <input [type]="fieldTextType ? 'text' : 'password'"
                                                            type="password" (paste)="(false)" class="form-control pe-5"
                                                            placeholder="{{'New Password' | translate}}" [(ngModel)]="new_password"
                                                            [ngModelOptions]="{standalone: true}">
                                                        <button
                                                            class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted"
                                                            type="button" id="password-addon"><i
                                                                class="mdi align-middle" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType
                    }" (click)="toggleFieldTextType()"></i></button>
                                                    </div>
                                                </div>
                                                <div class="mb-2">
                                                    <div class="position-relative auth-pass-inputgroup ">
                                                        <input [type]="fieldTextType1 ? 'text' : 'password'"
                                                            (paste)="(false)" type="password" class="form-control"
                                                            placeholder="{{'Confirm Password' | translate}}"
                                                            [(ngModel)]="confirm_password"
                                                            [ngModelOptions]="{standalone: true}">
                                                        <button
                                                            class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted"
                                                            type="button" id="password-addon"><i
                                                                class="mdi align-middle" [ngClass]="{'mdi-eye-off-outline': !fieldTextType1, 'mdi-eye-outline': fieldTextType1
                    }" (click)="toggleFieldTextType1()"></i></button>
                                                    </div>
                                                </div>

                                                <div class="mt-4">
                                                    <button class="btn btn-light ps-4 pe-4"
                                                        style="display:block; margin: 0 auto;"
                                                        (click)="create()">{{'Submit' | translate}}</button>
                                                        <br>
                                                    <a class="text-light text-center ps-4 pe-4" href="#"
                                                        style="display:block; margin: 0 auto;"
                                                        (click)="back()">{{'Back' | translate}}</a>
                                                </div>

                                            </form>
                                        </div>
                                        <!--   
    <div class="mt-4 text-center">
        <p class="mb-0">Re-Login ? <a routerLink="/auth/login" class="fw-semibold text-primary text-decoration-underline"> Signin</a> </p>
    </div> -->
                                    </div>
                                </div>


                            </div>

                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->

            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->
</div>
<!-- end auth-page-wrapper -->